In [39]:

import pandas as pd

df = pd.read_excel(r"D:\Python Course\Dealing With Pandas\xlsx\stocks.xlsx", header=[0,1],  index_col=[0])
df.dropna(axis=1, how="any")
df.head(2)

              Price                  Price to Earnings Ratio(P/E)         \
Company    Facebook Google Microsoft                     Facebook Google
2017-06-05      155    955        66                        37.10   32.0
2017-06-06      150    955        65                        36.98   31.3


Company    Microsoft
2017-06-05     30.31
2017-06-06     30.56

In [48]:
dfStacked = df.stack(level=1)
dfStacked

C:\Users\Diandra\AppData\Local\Temp\ipykernel_15252\1878570088.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  dfStacked = df.stack(level=1)

                      Price  Price to Earnings Ratio(P/E)
           Company
2017-06-05 Facebook     155                         37.10
           Google       955                         32.00
           Microsoft     66                         30.31
2017-06-06 Facebook     150                         36.98
           Google       955                         31.30
           Microsoft     65                         30.56
2017-06-07 Facebook     153                         36.78
           Google       967                         31.70
           Microsoft     69                         30.46
2017-06-08 Facebook     155                         36.11
           Google       955                         31.20
           Microsoft     67                         30.11
2017-06-09 Facebook     156                         37.07
           Google      1000                         30.00
           Microsoft     66                         31.00
2017-06-10 Facebook     156                         38.11
           Google      1012                         31.70
           Microsoft     68                         31.13
2017-06-11 Facebook     157                         37.12
           Google      1000                         31.20
           Microsoft     70                         31.00
2017-06-12 Facebook     156                         38.12
           Google      1012                         30.00
           Microsoft     77                         31.11

In [50]:
dfStacked.unstack()

              Price                  Price to Earnings Ratio(P/E)         \
Company    Facebook Google Microsoft                     Facebook Google
2017-06-05      155    955        66                        37.10   32.0
2017-06-06      150    955        65                        36.98   31.3
2017-06-07      153    967        69                        36.78   31.7
2017-06-08      155    955        67                        36.11   31.2
2017-06-09      156   1000        66                        37.07   30.0
2017-06-10      156   1012        68                        38.11   31.7
2017-06-11      157   1000        70                        37.12   31.2
2017-06-12      156   1012        77                        38.12   30.0


Company    Microsoft
2017-06-05     30.31
2017-06-06     30.56
2017-06-07     30.46
2017-06-08     30.11
2017-06-09     31.00
2017-06-10     31.13
2017-06-11     31.00
2017-06-12     31.11

In [55]:
df2 = pd.read_excel(r"D:\Python Course\Dealing With Pandas\xlsx\stocks2.xlsx", header=[0,1,2], index_col=[0])
df2

           Price Ratio                                                       \
                 Price                  Price to Earnings Ratio(P/E)
Company       Facebook Google Microsoft                     Facebook Google
2017-06-05         155    955        66                        37.10   32.0
2017-06-06         150    955        65                        36.98   31.3
2017-06-07         153    967        69                        36.78   31.7
2017-06-08         155    955        67                        36.11   31.2
2017-06-09         156   1000        66                        37.07   30.0

                     Income Statement                                     \
                            Net Sales                  Net Profit
Company    Microsoft         Facebook Google Microsoft   Facebook Google
2017-06-05     30.31              2.6     20     18.70       0.80   5.43
2017-06-06     30.56              3.1     22     21.30       0.97   5.89
2017-06-07     30.46              4.3     24     21.45       1.20   6.10
2017-06-08     30.11              6.7     26     21.88       1.67   6.50
2017-06-09     31.00              8.1     31     22.34       2.03   6.40



Company    Microsoft
2017-06-05      4.56
2017-06-06      5.10
2017-06-07      5.43
2017-06-08      5.89
2017-06-09      6.09

In [61]:
df2.stack()

C:\Users\Diandra\AppData\Local\Temp\ipykernel_15252\406340214.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df2.stack()

                     Price Ratio                               \
                           Price Price to Earnings Ratio(P/E)
           Company
2017-06-05 Facebook          155                        37.10
           Google            955                        32.00
           Microsoft          66                        30.31
2017-06-06 Facebook          150                        36.98
           Google            955                        31.30
           Microsoft          65                        30.56
2017-06-07 Facebook          153                        36.78
           Google            967                        31.70
           Microsoft          69                        30.46
2017-06-08 Facebook          155                        36.11
           Google            955                        31.20
           Microsoft          67                        30.11
2017-06-09 Facebook          156                        37.07
           Google           1000                        30.00
           Microsoft          66                        31.00

                     Income Statement
                            Net Sales Net Profit
           Company
2017-06-05 Facebook              2.60       0.80
           Google               20.00       5.43
           Microsoft            18.70       4.56
2017-06-06 Facebook              3.10       0.97
           Google               22.00       5.89
           Microsoft            21.30       5.10
2017-06-07 Facebook              4.30       1.20
           Google               24.00       6.10
           Microsoft            21.45       5.43
2017-06-08 Facebook              6.70       1.67
           Google               26.00       6.50
           Microsoft            21.88       5.89
2017-06-09 Facebook              8.10       2.03
           Google               31.00       6.40
           Microsoft            22.34       6.09