In [282]:
import pandas as pd
import numpy as np

def fixVal(cell):
    try:
        val = float(cell)
        if val <= 0:
            return np.nan
        return val
    except(ValueError, TypeError):
        return np.nan
    
df = pd.read_csv(r"D:\Python Course\Dealing With Pandas\Data Analys\csv\dirtyData.csv", encoding="utf-8", converters={
    'Amount':fixVal})                                                                                                           
print(df.dtypes)

TransactionID      int64
Date              object
Account           object
Description       object
Type              object
Amount           float64
Category          object
dtype: object

In [283]:
# Fix Dates
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
df["Date"] = df["Date"].ffill()
newDf = df
print(newDf["Date"].dtype) 
# newDf

datetime64[ns]

In [284]:
# Fix Amount
newDf.set_index("Date", inplace=True)
newDf["Amount"] = newDf["Amount"].bfill()
newDf["Amount"] = round(newDf["Amount"], 2)

In [285]:
# Show First 5 Data
print("First 5 Data")
newDf.head(5)

First 5 Data

            TransactionID     Account   Description    Type   Amount  Category
Date
2025-01-15          10000        Cash  Product Sale  Credit  1093.44     Sales
2025-01-15          10001        bank   VAT payment   debit   204.62       Tax
2025-01-09          10002  CreditCard    Stationery   Debit   661.91  Supplies
2025-01-20          10003        Cash        refund  CREDIT  1200.00     Sales
2025-01-20          10004        Bank   Office rent   Debit  1200.00      Rent

In [286]:
# Show Last 5 Data
print("Last 5 Data")
newDf.tail(5)

Last 5 Data

            TransactionID      Account   Description    Type  Amount  Category
Date
2025-06-06          10045         Bank  Product Sale  Credit  1050.0     Sales
2025-06-10          10046  Credit Card   VAT payment   Debit   200.0       Tax
2025-06-15          10047         Cash    Stationery   Debit   150.0  Supplies
2025-06-15          10048         Bank        refund  Credit  3200.0     Sales
2025-06-20          10049         Cash   Office rent   Debit   410.0      Rent

In [287]:
# Create a new column SignedAmount and RunningBalance
def valSign(cell):
    val = str(cell).lower()
    if val == "credit":
        return "Positive"
    elif val == "debit":
        return "Negative"
    else:
        return val
    
newDf.insert(1, "SignedAmount", newDf["Type"].apply(valSign))
newDf.insert(7, "RunningBalance", "0")

In [280]:
newDf[:10]

In [288]:
# Capitalize
newDf["SignedAmount"] = newDf["SignedAmount"].str.capitalize()
newDf["Account"] = newDf["Account"].str.capitalize()
newDf["Description"] = newDf["Description"].str.capitalize()
newDf["Type"] = newDf["Type"].str.capitalize()
newDf["Category"] = newDf["Category"].str.capitalize()
newDf[0:5]

,TransactionID,SignedAmount,Account,Description,Type,Amount,Category,RunningBalance
Date,,,,,,,,
2025-01-15,10000,Positive,Cash,Product sale,Credit,1093.44,Sales,0
2025-01-15,10001,Negative,Bank,Vat payment,Debit,204.62,Tax,0
2025-01-09,10002,Negative,Creditcard,Stationery,Debit,661.91,Supplies,0
2025-01-20,10003,Positive,Cash,Refund,Credit,1200.00,Sales,0
2025-01-20,10004,Negative,Bank,Office rent,Debit,1200.00,Rent,0

In [296]:
# Filtering

# Show all transaction where Category = "Sales"
salesTrans = newDf[newDf["Category"] == "Sales"]
salesTrans

,TransactionID,SignedAmount,Account,Description,Type,Amount,Category,RunningBalance
Date,,,,,,,,
2025-01-15,10000,Positive,Cash,Product sale,Credit,1093.44,Sales,0
2025-01-20,10003,Positive,Cash,Refund,Credit,1200.00,Sales,0
2025-02-01,10007,Positive,Cash,Product sale,Credit,2200.00,Sales,0
2025-02-12,10010,Positive,Cash,Product sale,Credit,1500.00,Sales,0
2025-02-20,10013,Positive,Cash,Refund,Credit,3500.00,Sales,0
2025-03-05,10017,Positive,Bank,Product sale,Credit,400.00,Sales,0
2025-03-20,10020,Positive,Bank,Refund,Credit,45.00,Sales,0
2025-04-01,10024,Negative,Cash,Product sale,Debit,1600.00,Sales,0
2025-04-10,10027,Positive,Cash,Refund,Credit,700.00,Sales,0
2025-04-25,10031,Negative,Bank,Product sale,Debit,310.00,Sales,0
2025-05-01,10034,Negative,Bank,Refund,Debit,600.00,Sales,0
2025-05-15,10038,Negative,Cash,Product sale,Debit,90.00,Sales,0
2025-05-30,10041,Positive,Cash,Refund,Credit,800.00,Sales,0
2025-06-06,10045,Positive,Bank,Product sale,Credit,1050.00,Sales,0
2025-06-15,10048,Positive,Bank,Refund,Credit,3200.00,Sales,0

In [297]:
# Filtering

# Show all debit transaction >1000
debitTrans = newDf[(newDf["Type"] == "Debit") &
      (newDf["Amount"] > 1000)]
debitTrans

,TransactionID,SignedAmount,Account,Description,Type,Amount,Category,RunningBalance
Date,,,,,,,,
2025-01-20,10004,Negative,Bank,Office rent,Debit,1200.0,Rent,0
2025-01-30,10006,Negative,Credit card,Equipment,Debit,2200.0,Supplies,0
2025-03-25,10021,Negative,Cash,Office rent,Debit,1800.0,Rent,0
2025-04-01,10024,Negative,Cash,Product sale,Debit,1600.0,Sales,0
2025-04-01,10025,Negative,Bank,Vat payment,Debit,2500.0,Tax,0
2025-05-25,10040,Negative,Stationery,Stationery,Debit,1200.0,Supplies,0

In [299]:
# Filtering

# Show all transaction from the "Cash" account
cashTrans = newDf[newDf["Account"] == "Cash"]
cashTrans

,TransactionID,SignedAmount,Account,Description,Type,Amount,Category,RunningBalance
Date,,,,,,,,
2025-01-15,10000,Positive,Cash,Product sale,Credit,1093.44,Sales,0
2025-01-20,10003,Positive,Cash,Refund,Credit,1200.00,Sales,0
2025-01-25,10005,Negative,Cash,Late fee,Debit,15.50,Charges,0
2025-02-01,10007,Positive,Cash,Product sale,Credit,2200.00,Sales,0
2025-02-12,10010,Positive,Cash,Product sale,Credit,1500.00,Sales,0
2025-02-20,10013,Positive,Cash,Refund,Credit,3500.00,Sales,0
2025-03-01,10015,Negative,Cash,Late fee,Debit,750.00,Charges,0
2025-03-10,10018,Negative,Cash,Vat payment,Debit,80.00,Tax,0
2025-03-25,10021,Negative,Cash,Office rent,Debit,1800.00,Rent,0
2025-04-01,10024,Negative,Cash,Product sale,Debit,1600.00,Sales,0
2025-04-10,10027,Positive,Cash,Refund,Credit,700.00,Sales,0
2025-04-20,10030,Positive,Cash,Equipment,Credit,400.00,Supplies,0
2025-04-30,10033,Positive,Cash,Stationery,Credit,1350.00,Supplies,0
2025-05-05,10035,Negative,Cash,Office rent,Debit,25.00,Rent,0
2025-05-15,10038,Negative,Cash,Product sale,Debit,90.00,Sales,0
2025-05-30,10041,Positive,Cash,Refund,Credit,800.00,Sales,0
2025-06-05,10044,Negative,Cash,Equipment,Debit,300.00,Supplies,0
2025-06-15,10047,Negative,Cash,Stationery,Debit,150.00,Supplies,0
2025-06-20,10049,Negative,Cash,Office rent,Debit,410.00,Rent,0

In [367]:
# Group by Cat
CatDf = newDf.groupby("Category")
 
for category, category_df in CatDf:
    print(category)
    print(category_df)
    print("\n")

In [368]:
# Group by Account
AccDf = newDf.groupby("Account")

for account, account_df in AccDf:
    print(account)
    print(account_df)
    print("\n")

Bank
            TransactionID SignedAmount Account   Description    Type   Amount  \
Date
2025-01-15          10001     Negative    Bank   Vat payment   Debit   204.62
2025-01-20          10004     Negative    Bank   Office rent   Debit  1200.00
2025-01-02          10008     Negative    Bank   Vat payment   Debit   300.75
2025-02-12          10011     Negative    Bank   Vat payment   Debit   100.00
2025-02-25          10014     Negative    Bank   Office rent   Debit   120.00
2025-03-05          10017     Positive    Bank  Product sale  Credit   400.00
2025-03-20          10020     Positive    Bank        Refund  Credit    45.00
2025-03-30          10023     Positive    Bank     Equipment  Credit   500.00
2025-04-01          10025     Negative    Bank   Vat payment   Debit  2500.00
2025-10-04          10028     Negative    Bank   Office rent   Debit   700.00
2025-04-25          10031     Negative    Bank  Product sale   Debit   310.00
2025-05-01          10034     Negative    Bank        Refund   Debit   600.00
2025-05-05          10036     Positive    Bank      Late fee  Credit  1300.00
2025-05-20          10039     Negative    Bank   Vat payment   Debit   160.00
2025-05-30          10042     Negative    Bank   Office rent   Debit   900.00
2025-06-06          10045     Positive    Bank  Product sale  Credit  1050.00
2025-06-15          10048     Positive    Bank        Refund  Credit  3200.00

            Category RunningBalance        Flag
Date
2025-01-15       Tax              0   Low Value
2025-01-20      Rent              0  High Value
2025-01-02       Tax              0   Low Value
2025-02-12       Tax              0   Low Value
2025-02-25      Rent              0   Low Value
2025-03-05     Sales              0   Low Value
2025-03-20     Sales              0   Low Value
2025-03-30  Supplies              0   Low Value
2025-04-01       Tax              0  High Value
2025-10-04      Rent              0   Low Value
2025-04-25     Sales              0   Low Value
2025-05-01     Sales              0   Low Value
2025-05-05   Charges              0  High Value
2025-05-20       Tax              0   Low Value
2025-05-30      Rent              0   Low Value
2025-06-06     Sales              0  High Value
2025-06-15     Sales              0  High Value


Cash
            TransactionID SignedAmount Account   Description    Type   Amount  \
Date
2025-01-15          10000     Positive    Cash  Product sale  Credit  1093.44
2025-01-20          10003     Positive    Cash        Refund  Credit  1200.00
2025-01-25          10005     Negative    Cash      Late fee   Debit    15.50
2025-02-01          10007     Positive    Cash  Product sale  Credit  2200.00
2025-02-12          10010     Positive    Cash  Product sale  Credit  1500.00
2025-02-20          10013     Positive    Cash        Refund  Credit  3500.00
2025-03-01          10015     Negative    Cash      Late fee   Debit   750.00
2025-03-10          10018     Negative    Cash   Vat payment   Debit    80.00
2025-03-25          10021     Negative    Cash   Office rent   Debit  1800.00
2025-04-01          10024     Negative    Cash  Product sale   Debit  1600.00
2025-04-10          10027     Positive    Cash        Refund  Credit   700.00
2025-04-20          10030     Positive    Cash     Equipment  Credit   400.00
2025-04-30          10033     Positive    Cash    Stationery  Credit  1350.00
2025-05-05          10035     Negative    Cash   Office rent   Debit    25.00
2025-05-15          10038     Negative    Cash  Product sale   Debit    90.00
2025-05-30          10041     Positive    Cash        Refund  Credit   800.00
2025-06-05          10044     Negative    Cash     Equipment   Debit   300.00
2025-06-15          10047     Negative    Cash    Stationery   Debit   150.00
2025-06-20          10049     Negative    Cash   Office rent   Debit   410.00

            Category RunningBalance        Flag
Date
2025-01-15     Sales              0  High Value
2025-01-20     Sales              0  High Value
2025-01-25   Charges              0   Low Value
2025-02-01     Sales              0  High Value
2025-02-12     Sales              0  High Value
2025-02-20     Sales              0  High Value
2025-03-01   Charges              0   Low Value
2025-03-10       Tax              0   Low Value
2025-03-25      Rent              0  High Value
2025-04-01     Sales              0  High Value
2025-04-10     Sales              0   Low Value
2025-04-20  Supplies              0   Low Value
2025-04-30  Supplies              0  High Value
2025-05-05      Rent              0   Low Value
2025-05-15     Sales              0   Low Value
2025-05-30     Sales              0   Low Value
2025-06-05  Supplies              0   Low Value
2025-06-15  Supplies              0   Low Value
2025-06-20      Rent              0   Low Value


Credit card
            TransactionID SignedAmount      Account  Description    Type  \
Date
2025-01-30          10006     Negative  Credit card    Equipment   Debit
2025-02-10          10009     Positive  Credit card    Equipment  Credit
2025-02-15          10012     Negative  Credit card   Stationery   Debit
2025-03-03          10016     Positive  Credit card    Equipment  Credit
2025-03-15          10019     Negative  Credit card   Stationery   Debit
2025-03-25          10022     Negative  Credit card     Late fee   Debit
2025-04-05          10026     Negative  Credit card   Stationery   Debit
2025-04-15          10029     Negative  Credit card     Late fee   Debit
2025-04-25          10032     Negative  Credit card  Vat payment   Debit
2025-05-10          10037     Negative  Credit card    Equipment   Debit
2025-06-01          10043     Positive  Credit card     Late fee  Credit
2025-06-10          10046     Negative  Credit card  Vat payment   Debit

            Amount  Category RunningBalance        Flag
Date
2025-01-30  2200.0  Supplies              0  High Value
2025-02-10  1500.0  Supplies              0  High Value
2025-02-15   200.0  Supplies              0   Low Value
2025-03-03  1300.0  Supplies              0  High Value
2025-03-15    90.0  Supplies              0   Low Value
2025-03-25   900.0   Charges              0   Low Value
2025-04-05  1000.0  Supplies              0   Low Value
2025-04-15   850.0   Charges              0   Low Value
2025-04-25   780.0       Tax              0   Low Value
2025-05-10   100.0  Supplies              0   Low Value
2025-06-01  2200.0   Charges              0  High Value
2025-06-10   200.0       Tax              0   Low Value


Creditcard
            TransactionID SignedAmount     Account Description   Type  Amount  \
Date
2025-01-09          10002     Negative  Creditcard  Stationery  Debit  661.91

            Category RunningBalance       Flag
Date
2025-01-09  Supplies              0  Low Value


Stationery
            TransactionID SignedAmount     Account Description   Type  Amount  \
Date
2025-05-25          10040     Negative  Stationery  Stationery  Debit  1200.0

            Category RunningBalance        Flag
Date
2025-05-25  Supplies              0  High Value

In [348]:
# Group by Month
MonDf = newDf.groupby(newDf.index.to_period("M"))

In [353]:

# Monthly Summary
monthSum = MonDf.agg(
    Income=("Amount", lambda x: x[x.index.isin(newDf[(newDf["SignedAmount"] == "Positive")].index)].sum()),
    Expense=("Amount", lambda x: x[x.index.isin(newDf[(newDf["SignedAmount"] == "Negative")].index)].sum())
)

monthSum["Net Income"] = monthSum["Income"] - monthSum["Expense"]
print(monthSum)

          Income  Expense  Net Income
Date
2025-01  3698.06  6876.22    -3178.16
2025-02  8800.00  1920.00     6880.00
2025-03  2245.00  3620.00    -1375.00
2025-04  2450.00  7040.00    -4590.00
2025-05  3025.00  5175.00    -2150.00
2025-06  6600.00  4260.00     2340.00
2025-10     0.00   700.00     -700.00

In [ ]:
# Add Flag Column

def flag(cell):
    if cell > 1000:
        return "High Value"
    return "Low Value"

newDf.insert(8, "Flag", newDf["Amount"].apply(flag))

In [360]:
newDf[:10]

,TransactionID,SignedAmount,Account,Description,Type,Amount,Category,RunningBalance,Flag
Date,,,,,,,,,
2025-01-15,10000,Positive,Cash,Product sale,Credit,1093.44,Sales,0,High Value
2025-01-15,10001,Negative,Bank,Vat payment,Debit,204.62,Tax,0,Low Value
2025-01-09,10002,Negative,Creditcard,Stationery,Debit,661.91,Supplies,0,Low Value
2025-01-20,10003,Positive,Cash,Refund,Credit,1200.00,Sales,0,High Value
2025-01-20,10004,Negative,Bank,Office rent,Debit,1200.00,Rent,0,High Value
2025-01-25,10005,Negative,Cash,Late fee,Debit,15.50,Charges,0,Low Value
2025-01-30,10006,Negative,Credit card,Equipment,Debit,2200.00,Supplies,0,High Value
2025-02-01,10007,Positive,Cash,Product sale,Credit,2200.00,Sales,0,High Value
2025-01-02,10008,Negative,Bank,Vat payment,Debit,300.75,Tax,0,Low Value
2025-02-10,10009,Positive,Credit card,Equipment,Credit,1500.00,Supplies,0,High Value

In [375]:
with pd.ExcelWriter(r"D:\Python Course\Dealing With Pandas\Data Analys\csv\clean.xlsx") as writer:
    newDf.to_excel(writer, index=False, sheet_name="CleanSheet", startrow= 0),
    monthSum.to_excel(writer, index= False, sheet_name="CleanSheet", startcol= 10, startrow= 0)