In [3]:
import pandas as pd

# CREATE DF IN DIFFERENT WAYS

# Create Df with CSV
df1 = pd.read_csv(r"D:\Python Course\Dealing With Pandas\csv\CalBurn.csv", encoding="utf-8")
df1

        Date  Time(minute)  Distance(Km)  Cals
0  5/17/2025            25           4.5   210
1  5/16/2025            30           6.0   465
2  5/15/2025            33           6.8   576
3  5/14/2025            19           3.5   187
4  5/13/2025            20           3.0   156
5  5/12/2025            30           5.5   354

In [31]:
# Create DF with Excel
df2 = pd.read_excel(r"D:\Python Course\Dealing With Pandas\csv\Questioner IOT.xlsx", engine="openpyxl", header=3)

# Create with Specify Sheet
# df2 = pd.read_excel(r"D:\Python Course\Dealing With Pandas\csv\Questioner IOT.xlsx",sheet_name='Form Responses 1', engine="openpyxl", header=3)

# Clean unused column
df2 = df2.dropna(axis=1, how="all")
df2[0:5]

,Timestamp,Question1,Question2,Question3,Question4,Question5,Question6,Question7,Question8,Question9,Question10
0,2025-05-11 12:38:22.000,belum pernah mendengar,tidak,ya,setiap hari,ya,smart home,remote on/off barang elektronik,takut mengalami kerusakan atau eror pada siste...,belum kebayang,teknologi yang dapat mempermudah dalam kehidupan
1,2025-05-11 12:44:00.017,pernah dulu ketika masih menginjak di SMP,"yaapss saya mengetahuinya , ketika saya mulai ...",tidak punya,"tidak punya, jadi saya belum pernah menggunaka...","yaaps bisa, karena akan memudahkan kita tentun...",smart home,"mungkin seperti ac, remote tv , dan lampu",ketergantungan pada koneksi internet \njika in...,pernah seperti pembersih ruangan otomatis,asisten rumah pintar yang benar-benar bisa mem...
2,2025-05-11 19:50:05.403,Yaa,Yaa,Yeah,Setiap hari,Ya membuat hidup saya lebih efisien,CCTV,CCTV,Lebih ke takut ke hack,Printer,"Printer dari hp, lebih efisien"
3,2025-05-11 19:51:43.203,Belum,Saya Tidak Mengetahui nyaðŸ˜±ðŸ˜±,Tidak,Cukup sering,Yaaap,Smart home,Alat untuk bersih-bersih,Barang sering error atau rusak,Enggak pernah,Mungkin teknologi untuk seleksi calon pejabat
4,2025-05-12 00:08:19.000,"Istilah belum pernah, tapi tau mekanisme IoT s...",Ya,Ya,Jarang,Ya,Smart light dan smart CCTV Wi-Fi,"Lampu, TV, Speaker",Mudah diotak atik oleh orang lain,Seperti teknologi google assistant yang sekara...,Sensor teknologi pintar untuk lampu

In [36]:
# Create DF with Dictionary
calData1 = {
    "Date":["5/16/2025", "5/15/2025", "5/14/2025"],
    "Distance(Km)":[3.5, 4, 5.5],
    "Time(minute)":[16, 16, 18],
    "Cals":[234, 256, 425]
}

df3 = pd.DataFrame(calData1)
df3

        Date  Distance(Km)  Time(minute)  Cals
0  5/16/2025           3.5            16   234
1  5/15/2025           4.0            16   256
2  5/14/2025           5.5            18   425

In [39]:
# Create DF with Tupple List
calData2 = [
    ("5/16/2025", 3.5, 16, 234),
    ("5/15/2025", 4, 16, 256),
    ("5/14/2025", 5.5, 18, 425)
]

df4 = pd.DataFrame(calData2, columns=("Date", "Distance(Km)", "Time(minute)", "Cals" ))
df4

        Date  Distance(Km)  Time(minute)  Cals
0  5/16/2025           3.5            16   234
1  5/15/2025           4.0            16   256
2  5/14/2025           5.5            18   425

In [40]:
# Create DF with Dictionary List
calData3 = [
    {"Name":"Ferrari", "Type":"F50","Price($)":55000000},
    {"Name":"McLaren", "Type":"F1 1997","Price($)":110000000},
    {"Name":"Bugatti", "Type":"Centodieci","Price($)":95000000},
]

df5 = pd.DataFrame(calData3)
df5

      Name        Type   Price($)
0  Ferrari         F50   55000000
1  McLaren     F1 1997  110000000
2  Bugatti  Centodieci   95000000